.product-page-container {
  background: rgba(121, 121, 121, 0.35);
  overflow-x: hidden;

  .product-image-and-buy-option-container {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .product-page-left-side {
      width: 60%;
    }
    .product-page-right-side {
      width: 40%;
    }
  }
}
